.posicao-par {
  background-color: #e3f2fd;
}

.posicao-impar {
  background-color: #fce4ec;
}

.primeira-disciplina {
  color: blue;
  text-decoration: underline;
}

.ultima-disciplina {
  border: 2px solid #333;
}