h2 {
  margin-bottom: 20px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

p {
  margin: 6px 0;
}

.promocao {
  color: red;
  font-weight: bold;
}

button {
  margin-top: 8px;
  padding: 6px 10px;
  cursor: pointer;
}