<h2>Classificação dos produtos</h2>

<ul>
  <li *ngFor="let produto of produtos">

    <p>Produto: {{ produto.nome }}</p>
    <p>Quantidade: {{ produto.quantidade }}</p>
    
    <p
      [ngClass]="{
        'sem-estoque': produto.quantidade === 0,
        'estoque-baixo': produto.quantidade >= 1 && produto.quantidade <= 5,
        'estoque-disponivel': produto.quantidade > 5
      }"
    >
      <span *ngIf="produto.quantidade === 0">
        Sem estoque
      </span>

      <span *ngIf="produto.quantidade >= 1 && produto.quantidade <= 5">
        Estoque baixo
      </span>

      <span *ngIf="produto.quantidade > 5">
        Estoque disponível
      </span>
    </p>

    <p>Preço: R${{ produto.preco }}</p>
    <p>
      Valor total em estoque:
      R$ {{ produto.preco * produto.quantidade }}
    </p>


  </li>
</ul>